blockquote {
  font-size: .scale-type(1)[@result];
}

.blockquote-footer {
  font-size: .scale-type(0)[@result];
  margin-top: -@typography[base-margin];
  margin-bottom: @typography[base-margin];

  color: lighten(@colors[@light][text], 10%);
  & when (@color-scheme[dark] = true) {
    @media (prefers-color-scheme: dark) {
      color: darken(@colors[@dark][text], 10%);
    }
  }

  &::before {
    content: "\2013 ";
  }
}
