each(range(4), {
  /* Reversing the range by construction with the function 𝑓(𝑥)=𝑥+𝑦-𝑥, where 𝑦 is the reverse of 𝑥 inside the range. Alas : @reverse = (@min + @max) - @value */
  @min: min(range(4));
  @max: max(range(4));
  @reverse-value: (@min + @max) - @value;

  .h@{value},
  h@{value} {
    font-size: .scale-type(
      @reverse-value,
      @typography[base-font-size],
      @typography[base-type-ratio]
    )[@result];

    @media screen and (max-width: @media[mobile]) {
      font-size: .scale-type(
        @reverse-value,
        @typography[base-font-size],
        @typography[mobile-type-ratio]
      )[@result];
    }
  }

  /* Set headings font size. */
  h@{value} {
    line-height: @typography[base-line-height];
    margin-bottom: @typography[base-margin];
  };
});

h5,
h6 {
  line-height: @typography[base-line-height];
  margin-bottom: @typography[base-margin];
}

each(range(6), {
  h@{value} {
    margin-top: 1em;
    font-weight: bold;
  }
});

.headings {

  &-unmarged {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  &-unmarged-top {
    margin-top: 0em;
  }

  &-unmarged-bottom {
    margin-bottom: 0em;
  }
}

/* Reference :
- https://moderncss.dev/generating-font-size-css-rules-and-creating-a-fluid-type-scale/
 */
