b,
strong {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

mark,
.mark {
  background-color: @colors[@light][primary];
  color: @colors[@light][background];
  padding: 0.2em;

  @media screen and (prefers-color-scheme: dark) {
    background-color: @colors[@dark][primary];
    color: @colors[@dark][background];
  }
}

del {
  text-decoration: line-through;
}

u,
ins {
  text-decoration: underline;
}

dfn {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: .scale-type(-1)[@result];
}

sub {
  vertical-align: sub;
  font-size: .scale-type(-1)[@result];
}

hr {
  border: 0px;
  border-top: 1px solid @colors[@light][border];
  margin: 2rem 0rem;

  @media screen and (prefers-color-scheme: dark) {
    border-color: @colors[@dark][border];
  }
}
