<!doctype html>
<html lang="fr">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="home">
      <div class="shadow"></div>
      <div class="flow">
        <section class="aperture hero">
          <img class="logo" src="/assets/logo.svg" alt="coeur-de-fer logo">
          <h1 class=" hero-title headings headings-unmarged">
            Cœur de fer
          </h1>
          <p>CSS styling with an iron heart</p>
          <div class="interspace"></div>
        </section>
      </div>
    </div>
    <div class="layout">
      <div class="flow">
        {{ content | markdownify }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
